/* Style for the header container */

.header-container {
    display: flex;
    justify-content: space-between; /* Distributes space between items */
    align-items: center; /* Aligns items vertically in the center */
    padding: 10px 20px; /* Some padding for breathing space */
    background-color: #f4f4f4; /* A light grey background for the header */
}

/* Style for the logo */
.header-left img {
    width: 50px; /* Adjust this value to make the logo smaller or larger */
    height: auto; /* Maintains the aspect ratio */
    margin-right: 10px; /* Some space between the logo and the title */
}

/* Style for the title */
.header-container h1 {
    margin: 0 20px; /* Removes default margin and adds horizontal spacing */
    font-size: 24px; /* Adjust this value for desired font size */
}

/* Style for the button */
/* .header-right button {
    background-color: #007BFF; 
    color: white;
    border: none; 
    padding: 10px 20px; 
    border-radius: 5px; 
    cursor: pointer; 
    transition: background-color 0.3s; 
} */

.header-right button:hover {
    background-color: #0056b3; /* Darker blue on hover */
}


.card {
    border: 1px solid #e0e0e0;
    padding: 10px;
    margin: 10px 0;
    display: flex;
    flex-direction: column;
}

.top-container img {
    max-width: 100px;
    margin-bottom: 10px;
}

.bottom-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

/* a[role="button"] {
    padding: 5px 10px;
    background-color: #007BFF;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    align-self: flex-start;
}

a[role="button"]:hover {
    background-color: #0056b3;
} */